# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# Copyright (c) 2025, Excave.ru
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_APM32F1X
	bool "APM32F1x Series MCU"
	select ARM
	select CPU_CORTEX_M3
	select CPU_CORTEX_M_HAS_DWT
	select SOC_FAMILY_APM32
	help
	  Enable support for APM32F1 MCU series

config SOC_SERIES
	default "apm32f1x" if SOC_SERIES_APM32F1X

choice
	prompt "APM32F1x MCU Selection"
	depends on SOC_SERIES_APM32F1X

config SOC_APM32F103X4
	# 16KB Flash, 6KB SRAM
	bool "APM32F103X4"
	select APM32F10X_LD

config SOC_APM32F103X6
	# 32KB Flash, 10KB SRAM
	bool "APM32F103X6"
	select APM32F10X_LD

config SOC_APM32F103X8
	# 64KB Flash, 20KB SRAM
	bool "APM32F103X8"
	select APM32F10X_MD

config SOC_APM32F103XB
	# 128KB Flash, 20KB SRAM
	bool "APM32F103XB"
	select APM32F10X_MD

config SOC_APM32F103XC
	# 256KB Flash, 64KB SRAM
	bool "APM32F103XC"
	select APM32F10X_HD

config SOC_APM32F103XD
	# 384KB Flash, 64KB SRAM
	bool "APM32F103XD"
	select APM32F10X_HD

config SOC_APM32F103XE
	# 512KB Flash, 128KB SRAM
	bool "APM32F103XE"
	select APM32F10X_HD

endchoice

