# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_APM32F405XG

config SOC
	default "apm32f405xx"

config NUM_IRQS
	default 85

endif # SOC_APM32F405XG
