# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# Copyright (c) 2025, Excave.ru
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_APM32F4X
	bool "APM32F4x Series MCU"
	select ARM
	select CPU_CORTEX_M4
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU
	select SOC_FAMILY_APM32
	select CPU_HAS_ARM_MPU
	select HAS_SWO
	help
	  Enable support for APM32F4 MCU series

config SOC_SERIES
	default "apm32f4x" if SOC_SERIES_APM32F4X

choice
	prompt "APM32F4x MCU Selection"
	depends on SOC_SERIES_APM32F4X

config SOC_APM32F405XG
	# 1024KB Flash, 194+4KB SRAM
	bool "APM32F405XG"

config SOC_APM32F407XE
	# 512KB Flash, 194+4KB SRAM
	bool "APM32F407XE"

config SOC_APM32F407XG
	# 1024KB Flash, 194+4KB SRAM
	bool "APM32F407XG"

config SOC_APM32F411XC
	# 256KB Flash, 128KB SRAM
	bool "APM32F411XC"
	
config SOC_APM32F411XE
	# 512KB Flash, 128KB SRAM
	bool "APM32F411XE"

config SOC_APM32F417XG
	# 1024KB Flash, 194+4KB SRAM
	bool "APM32F417XG"

endchoice

