# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_APM32F411XC || SOC_APM32F411XE

config SOC
	default "apm32f411xx"

config NUM_IRQS
	default 75

endif # SOC_APM32F411XC || SOC_APM32F411XE
