# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# Copyright (c) 2025, Excave.ru
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_APM32
	bool
	select BUILD_OUTPUT_HEX
	select APM32_HAL_LIBRARY

# if SOC_FAMILY_APM32

# rsource "*/Kconfig"

# endif # SOC_FAMILY_APM32
