# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

config SOC_FLASH_APM32
	bool "APM32 flash driver"
	default y
	depends on FLASH
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	select APM32_HAL_FMC
	help
	  Enables APM32 driver.