# apm32f411vc_mini
# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_APM32F4X=y
CONFIG_SOC_APM32F411XE=y

CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CTRL_APM32=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000

CONFIG_GPIO=y

CONFIG_DEBUG_OPTIMIZATIONS=y
