# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

if I2C

module = I2C
module-str = i2c
source "subsys/logging/Kconfig.template.log_config"

rsource "./Kconfig.*"

endif # I2C
