# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_APM32F1X

config APM32F10X_LD
	bool

config APM32F10X_MD
	bool

config APM32F10X_HD
	bool

config APM32F10X_CL
	bool

rsource "Kconfig.defconfig.apm32f1*"

config SOC_SERIES
	default "apm32f1"

endif # SOC_SERIES_APM32F1X
