# Copyright (c) 2023, Quincy.W <wangqyfm@foxmail.com>
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_APM32
	bool "PINCTRL Driver for APM32 family of MCUs"
    default y
	depends on PINCTRL
	depends on SOC_FAMILY_APM32

